/*===================================================
 共通
====================================================*/
main {
  margin-top: 61px;
}

body {
  font-family: "Lato", "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  background-color: $white;
}

img {
  max-width: 100%;
}

a {
  word-break: break-word;
}
/*===================================================
 装飾
====================================================*/
/* シャドウ */
.shadow-sm {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1)!important;
}

input[type="submit"],
input[type="button"] {
  -webkit-appearance: none!important;
}
/* ボタン */
button {
  &:focus {
    outline: none;
  }
}
/* 角丸 */
.br-7 {
  border-radius: 7px;
  overflow: hidden;
}
/*===================================================
 見出し
====================================================*/
/* 見出し2 */
.ttl {
  &-h2 {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: left;

    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 15px;
      border-radius: 3px;
      background: $primary;
      margin-right: 12px;
    }
  }
}
/*===================================================
 フォントサイズ
====================================================*/
.f-10,
.f-12,
.f-13,
.f-14,
.f-15,
.f-16,
.f-18,
.f-24,
.f-32 {
  line-height: 145%;
}

.f-32 {
  font-size: 32px;
  @include media-breakpoint-down(md) {
    font-size: 26px;
  }
}

.f-24 {
  font-size: 24px;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

.f-18 {
  font-size: 18px;
}

.f-16 {
  font-size: 1rem;
}

.f-14 {
  font-size: 14px!important;
}

.f-15 {
  font-size: 15px!important;
}

.f-13 {
  font-size: 13px!important;
}

.f-12 {
  font-size: 12px!important;
}

.f-10 {
  font-size: 10px!important;
}
/*===================================================
 余白
====================================================*/
/* 余白（大） - 26px - */
.py-lg {
  padding-top: 26px;
  padding-bottom: 26px;
}

.pt-lg {
  padding-top: 26px;
}

.pb-lg {
  padding-bottom: 26px;
}

.my-lg {
  margin-top: 26px;
  margin-bottom: 26px;
}

.mt-lg {
  margin-top: 26px;
}

.mb-lg {
  margin-bottom: 26px;
}
/* 余白（中） - 18px - */
.py-md {
  padding-top: 18px;
  padding-bottom: 18px;
}

.pt-md {
  padding-top: 18px;
}

.pb-md {
  padding-bottom: 18px;
}

.my-md {
  margin-top: 18px;
  margin-bottom: 18px;
}

.mt-md {
  margin-top: 18px;
}

.mb-md {
  margin-bottom: 18px;
}
/* 余白(小) - 13px - */
.py-sm {
  padding-top: 13px;
  padding-bottom: 13px;
}

.pt-sm {
  padding-top: 13px;
}

.pb-sm {
  padding-bottom: 13px;
}

.my-sm {
  margin-top: 13px;
  margin-bottom: 13px;
}

.mt-sm {
  margin-top: 13px;
}

.mb-sm {
  margin-bottom: 13px;
}
/*===================================================
 ボタン
====================================================*/
.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 13px 0;
  font-size: 14px;
  text-align: center;

  &-border {
    border: 1px solid $body-color;
    border-radius: 7px;
  }

  &-bk {
    background: $body-color!important;
    border-radius: 2rem;
    color: $white;

    &:hover {
      color: $white;
    }
  }
}
