/*===================================================
 CTA
====================================================*/
.start {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 165px;
  margin-top: 45px;
  background: url("../images/bg-start.png");
  background-size: cover;
  background-position: center;
  z-index: 1;

  &-bg {
    position: absolute;
    opacity: 0.5;
    background: #1a1818;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  h2 {
    color: $white;
    font-weight: bold;
    margin-bottom: 1.2rem;
    z-index: 1;

    span {
      padding: 3px 4px 3px 7px;
      border-radius: 2px;
    }
  }

  a {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 12px 0;
    color: $white;
    text-align: center;
    border: 1px solid $white;
    border-radius: 30px;
    text-decoration: none!important;
    transition: 0.5s;

    &:hover {
      background: $white;
      color: $body-color;
    }
  }
}
/*===================================================
 フッター
====================================================*/
.footer {
  .main {
    @include media-breakpoint-up(md) {
      padding: 30px 0;
    }
  }
}
