/*===================================================
 モーダル
====================================================*/
.modal {
  // position: relative;

  &-content {
    position: fixed;
    top: 0;
    height: 100vh;
    border-radius: 0;
    @include media-breakpoint-up(md) {
      position: relative;
    }
  }

  &-body {
    border-radius: 0;
    height: 100vh;
    /*-- タイトル --*/
    &-name {
      position: relative;
      font-weight: bold;
      display: block;
      text-align: center;
      border-bottom: 1px solid $light;

      .close {
        padding: 29px 0;
        position: absolute;
        top: 0;
        left: 1rem;
      }
    }
  }
  /*-- 絞り込みボタン --*/
  .btn {
    position: fixed;
    left: calc(50% -165px);
    bottom: 2rem;
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      position: relative;
      left: auto;
      bottom: auto;
      max-width: 200px;
    }
  }

  &-dialog-centered {
    margin: 0;
  }
}

.modal.show .modal-dialog {
  min-width: 100%;
}
