/*===================================================
 お知らせ
====================================================*/
.info {
  position: relative;

  &-content {
    position: relative;
    padding: 0 1rem;
    @include media-breakpoint-up(md) {
      text-align: center;
    }

    p {
      color: $primary;
    }

    &::after {
      position: absolute;
      top: 43%;
      right: 1rem;
      transform: rotate(45deg);
      content: "";
      width: 7px;
      height: 7px;
      display: inline-block;
      vertical-align: middle;
      border-top: 1px solid $primary;
      border-right: 1px solid $primary;
    }
  }

  &-bg {
    background: $primary;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
// .slick-slide img {
//   height: 189px!important;
//   object-fit: scale-down!important;
//   @include media-breakpoint-up(md) {
//     height: 325px!important;
//   }
// }
/*===================================================
 メインビジュアル
====================================================*/
.mv {
  .slick-slide {
    & > div {
      overflow: hidden;
      position: relative;
      height: 0;
      padding-top: 56.75%;

      a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}
/*===================================================
 slick設定
====================================================*/
.slick {
  &-dots {
    bottom: 15px;

    li {
      margin: 0 3px;

      button:before {
        content: '●';
      }
    }
  }

  &-dotted.slick-slider {
    margin-bottom: 5px;
  }

  &-slide {
    transition: 0.3s ease;
    transform: scale(.95);
  }

  &-slide:not(.slick-current) {
    opacity: 0.5;
  }

  &-current {
    transform: scale(1);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mv .slick-slide > div a {
    overflow: hidden;
    background: $light;

    img {
      height: auto;
    }
  }
}
