.search {
  &__free {
    z-index: 1;
    position: relative;
    overflow: hidden;

    &__form {
      overflow: hidden;
      display: block;
      box-sizing: border-box;

      .input-group {
        display: flex;
        flex-wrap: nowrap;

        &-prepend {
          margin: 0;
          width: 100%;

          input {
            padding: 5px 1rem;
            background: $warning;
          }
        }
      }

      &-btn {
        width: 20%;

        .btn-primary {
          width: 100%;
          min-width: auto;
          padding: 0.7rem 0!important;
          border-radius: 0 5px 5px 0;
          background-color: $info;
          border: $info;
          font-weight: normal;
        }
      }
    }
  }

  &__genre {
    margin: 0;
    box-sizing: border-box;

    .container {
      padding: 0;
    }

    h3 {
      font-size: $font-size-sm;
      font-weight: bold;
      margin: 0;
      padding: 0.8rem 0;
      border-bottom: solid 1px $secondary;
    }

    &-list {
      box-sizing: border-box;
      padding: 1.5rem 0 1.5rem 1rem;
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      @include media-breakpoint-up(md) {
        max-width: 960px;
        margin: 0 auto;
        padding: 1rem 0 1rem 2rem;
      }
      @include media-breakpoint-up(lg) {
        max-width: 1140px;
      }

      img {
        @include media-breakpoint-up(lg) {
          width: 95px
        }
      }

      ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;

        li {
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          max-width: 24vw;
          margin-right: 1rem;
          font-size: 0;
          :hover {
            opacity: .5
          }

          a {
            text-decoration: none!important;
          }

          img {
            display: block;
            margin: 0 auto;
            transition: .3s;
          }

          span {
            display: block;
            margin: 0.5rem auto 0;
            font-size: 12px;
            line-height: 1;
            text-align: center;
          }
        }
      }
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    p {
      margin: 0 0.2rem 0.2rem 0;
    }

    button {
      display: inline-block;
      margin: 1rem 0;
      padding: 3px 10px;
      border-radius: 1rem;
      white-space: nowrap;
    }
  }

  &__result {
    &__inner {
      &__wrap {
        box-sizing: border-box;
        padding: 1rem;
      }
    }
  }
}

.form-control {
  width: 100%!important;
  height: auto!important;
  padding: 0;

  .search {
    &-form {
      label {
        width: 100%;
      }

      input {
        padding: 14px 10px;
        background: $light;
        border-radius: 5px;
        width: 100%;
      }

      input[type="checkbox"] {
        display: inline;
        width: 25px;
      }

      select {
        padding: 14px 10px;
        background: $light;
        border-radius: 5px;
        width: 100%;
      }

      .btn-primary {
        background: #E3556E!important;
        font-size: 1rem;
        padding: 1.05rem 2em!important !important;
        letter-spacing: 0.05rem;
        border-radius: 10px;
        color: #fff;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }
    }
  }
}
