/*===================================================
 レストラン詳細
====================================================*/
.restaurant {
  position: relative;

  &__mv {
    overflow: hidden;
    position: relative;
    height: 410px;
    background: $light;
    @include media-breakpoint-down(lg) {
      height: 345px;
    }
    @include media-breakpoint-down(md) {
      height: 257px;
    }
    @include media-breakpoint-down(sm) {
      width: calc(100% + 30px);
      margin-left: -15px;
      height: 202px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__menu,
  &__wrap {
    border-bottom: 1px solid $light;
  }

  &__external {
    .btn-block {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $body-color;
      }
    }
  }
}

#restaurant-btn {
  z-index: 10;
  position: fixed;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  background-color: $white;
  padding: 0.5rem;
  @include media-breakpoint-up(md) {
    display: none;
  }

  a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $primary;
    text-align: center;
    box-sizing: border-box;
    padding: $font-size-sm;
    font-size: $font-size-sm;
    font-weight: bold;
    color: $white;
    line-height: 1;

    &.restaurant-tel {
      background-color: #cccccc;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.is-tel {
    a {
      width: 50%;

      &.restaurant-link {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
